<check if="{{ @households }}">
	<true>
		<table width="100%" id="households" class="table table-hover table-bordered">
			<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Neighbourhood</th>
					<th scope="col">
						<select class="custom-select" id="gameSort">
						<option value="">Game</option>
						<repeat group="{{ @games }}" value="{{ @game }}">
						<option value="{{ @game }}">{{ @game }}</option>
						</repeat>
						</select>
				</th>
				<th scope="col">Sims / Pets</th>
				<th scope="col">Net worth</th>
				<th scope="col">Family friends</th>
				<th scope="col">Action</th>
			</tr>
			</thead>

			<tbody>
			<repeat group="{{ @hoods }}" value="{{ @hood }}">
				<repeat group="{{ @households }}" value="{{ @household }}">
				<check if="{{ @household.nhID == @hood.id }}">
					<check if="{{ @household.name != 'Adoption pool' }}">
				<tr>
					<td>{{ trim(@household.name) }}</td>
					<td>{{ trim(@hood.name) }}</td>
					<td>Sims {{ trim(@hood.gameVersion) }}</td>
					<check if="{{ @household.sims > 0 }}">
					<true>
						<td>{{ trim(@household.sims) }} /
					</true>
					<false>
					<td>0 /
					</false>
					</check>
					<check if="{{ @household.pets > 0 }}">
					<true>
						{{ trim(@household.pets) }}</td>
					</true>
					<false>
					0</td>
					</false>
					</check>					
					<td>{{ trim(@household.money) | simoleons }}</td>
					<td>{{ trim(@household.friends) }}</td>
					<td><a href="{{ @BASE.'/household/update/'. @household.hhID }}" data-toggle="tooltip" title="Edit" class="text-primary"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
						<a href="#" onclick="confirm('{{ @BASE.'/household/delete/'. @household.hhID }}');"
								   data-toggle="tooltip"
								   title="Delete"
								   class="text-danger delete"><i class="fa fa-trash"></i></a></td>
				</tr>
					</check>
					</check>
				</repeat>
			</repeat>
			</tbody>
		</table>
	</true>
	<false>
		<p>No households found.</p>
	</false>
</check>
<a href="{{ @BASE.'/household/create' }}" class="btn btn-success mt-3"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>

<script>
$(document).ready( function () {
    let table = $('#households').DataTable({
        responsive: {
        breakpoints: [
            { name: 'desktop', width: Infinity },
            { name: 'tablet',  width: 1024 },
            { name: 'fablet',  width: 768 },
            { name: 'phone',   width: 480 }
        ]
    }
	});
	$('#gameSort').change(function() {
		let val = $(this).find('option:selected').val();
		console.log(val);
		table.columns(2).search(val).draw();
	});
} );
</script>