		<check if="{{ @title === 'Sims' }}">
			<true>
				<div class="dropdown mb-3">
					<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						View by household:
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<repeat group="{{ @households }}" value="{{ @household }}">
							<a class="dropdown-item" href="{{@BASE}}/sims/{{@household.hhID}}">{{@household.name}}</a>
						</repeat>
					</div>
				</div>
			</true>
			<false>
				<a class="btn btn-secondary mb-3" href="{{@BASE}}/sims"><i class="fa fa-arrow-left" aria-hidden="true"> </i> All sims</a>
			</false>
		</check>
<check if="{{ @sims }}">
	<true>
		<table width="600" cellpadding="5" class="table table-responsive table-hover table-bordered">
			<thead>
			<tr>
				<th scope="col">Household</th>
				<th scope="col">Name</th>
				<th scope="col">Age</th>
				<th scope="col">Life State</th>
				<th scope="col">Gender</th>
				<th scope="col">Action</th>
			</tr>
			</thead>

			<tbody>
			<repeat group="{{ @households }}" value="{{ @household }}">
				<repeat group="{{ @sims }}" value="{{ @sim }}">
					<check if="{{ @sim.hhID == @household.hhID }}">
						<tr>
							<td>{{ trim(@household.name) }}</td>
							<td>{{ trim(@sim.firstName) }}</td>
							<td>{{ trim(@sim.age) }}</td>
							<td>{{ trim(@sim.lifeState) }}</td>
							<td>
							<check if="{{ @sim.gender == 'M' }}">
								<true>
								Male
								</true>
								<false>
								Female
								</false>
							</check>
							</td>
							<td><a href="{{ @BASE.'/sim/view/'. @sim.id }}" class="btn btn-info" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
								<a href="{{ @BASE.'/sim/update/'. @sim.id }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
								<a href="{{ @BASE.'/sim/delete/'. @sim.id }}"
								   data-toggle="confirmation"
								   data-content="All sim data will be deleted."
								   data-popout="true"
								   class="btn btn-danger delete"><i class="fa fa-trash" aria-hidden="true"></i>
									Delete</a></td>
						</tr>
					</check>
				</repeat>
			</repeat>
			</tbody>
		</table>
	</true>
	<false>
		<p>No sims found.</p>
	</false>
</check>
<a href="{{ @BASE.'/sim/create' }}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>