<form action="{{ @BASE.'/sim/update' }}" validate="true" method="post" class="form-horizontal">

	<div class="form-row">
		<div class="form-group col">
			<label for="firstName">First Name</label>
			<input type="text" required="required" class="form-control" name="firstName" value="{{ trim(@sim.firstName) }}" id="firstName" />
		</div>
		<div class="form-group col">
			<label for="lastName">Last Name</label>
			<input type="text" required="required" class="form-control" name="lastName" value="{{ trim(@sim.lastName) }}" id="lastName" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col">
			<label for="gender">Gender</label>
			<select class="custom-select" required="required" name="gender" id="gender">
				<option value="F"
				<check if="{{ @sim.gender == 'F'}}">
					selected
				</check>
				>Female</option>
				<option value="M"
				<check if="{{ @sim.gender == 'M'}}">
					selected
				</check>
				>Male</option>
			</select>
		</div>

		<div class="form-group col">
			<label for="age">Age</label>
			<select class="custom-select" required="required" name="age" id="age">
				<repeat group="{{ @ages }}" value="{{ @age }}">
					<option value="{{ @age }}"
					<check if="{{ @sim.age == @age}}">
						selected
					</check>
					>{{ @age }}</option>
				</repeat>
			</select>
		</div>
	</div>

    <div class="form-group">
        <label for="origin">Origin</label>
        <select class="custom-select" name="origin" required="required" id="origin">
            <option>-- Where does this sim come from? --</option>
            <option value="cas"
            <check if="{{ @sim.origin == 'cas'}}">
                selected
            </check>
            >CAS</option>
            <option value="big"
            <check if="{{ @sim.origin == 'big'}}">
                selected
            </check>
            >Born in-game</option>
            <option value="npc"
            <check if="{{ @sim.origin == 'npc'}}">
                selected
            </check>
            >NPC</option>
            <option value="townie"
            <check if="{{ @sim.origin == 'townie'}}">
                selected
            </check>
            >Townie</option>
        </select>
    </div>

    <div class="form-group" id="genshow" style="display: none;">
        <label for="generation">What generation is this sim?</label>
        <input type="number" class="form-control" value="{{ trim(@sim.generation) }}" name="generation" id="generation" />
    </div>

		<!-- Buttons -->
		<p>
			<a class="btn btn-primary" data-toggle="collapse" href="#s2character" role="button" aria-expanded="false" aria-controls="s2character">
				Character
			</a>
			<a class="btn btn-primary" data-toggle="collapse" href="#s2lifeStates" role="button" aria-expanded="false" aria-controls="s2lifeStates">
				Life states & supernatural
			</a>
			<a class="btn btn-primary infant" data-toggle="collapse" href="#s2personality" role="button" aria-expanded="false" aria-controls="s2personality">
				Personality
			</a>
			<a class="btn btn-primary infant toddler child" data-toggle="collapse" href="#s2aspirations" role="button" aria-expanded="false" aria-controls="s2aspirations">
				Aspirations and LTW
			</a>
			<a class="btn btn-primary infant" data-toggle="collapse" href="#s2skills" role="button" aria-expanded="false" aria-controls="s2skills">
				Skills
			</a>
			<a class="btn btn-primary infant" data-toggle="collapse" href="#s2interests" role="button" aria-expanded="false" aria-controls="s2interests">
				Interests
			</a>
			<a class="btn btn-primary infant toddler" data-toggle="collapse" href="#s2career" role="button" aria-expanded="false" aria-controls="s2career">
				<span id="workbtntext">Work</span>
			</a>
		</p>

	<div class="accordion" id="simstats"><!-- Sim data accordion -->
		<div class="collapse mb-3" id="s2character" data-parent="#simstats">
		<div class="card card-body">
			<div class="form-row">
				<div class="col text-center">
					<h5 class="mb-3 text-primary">Genetics</h5>
					<div class="form-group">
						<label for="skintone">Skintone</label>
						<select class="custom-select" name="skintone" id="skintone">
							<option value="">-- None --</option>
							<repeat group="{{ @skintones }}" value="{{ @skin }}">
								<option value="{{ @skin }}"
								<check if="{{ @sim.skintone == @skin}}">
									selected
								</check>
								>{{ @skin }}</option>
							</repeat>
						</select>
					</div>
					<div class="form-group">
					<label for="hair">Hair colour</label>
					<select class="custom-select" name="hair" id="hair">
						<option value="">-- None --</option>
						<repeat group="{{ @haircolours }}" value="{{ @hair }}">
							<option value="{{ @hair }}"
							<check if="{{ @sim.hair == @hair}}">
								selected
							</check>
							>{{ @hair }}</option>
						</repeat>
					</select>
				</div>
					<div class="form-group">
						<label for="eyes">Eye colour</label>
						<select class="custom-select" name="eyes" id="eyes">
							<option value="">-- None --</option>
							<repeat group="{{ @eyecolours }}" value="{{ @eyes }}">
								<option value="{{ @eyes }}"
								<check if="{{ @sim.eyes == @eyes}}">
									selected
								</check>
								>{{ @eyes }}</option>
							</repeat>
						</select>
					</div>
				</div>

				<div class="col text-center">
					<h5 class="mb-3 text-primary">Chemistry</h5>
					<div class="form-group">
						<label for="turnon1">Turn-on 1</label>
						<select class="custom-select" name="turnon1" id="turnon1">
							<option value="">-- None --</option>
							<repeat group="{{ @turnons }}" value="{{ @to }}">
								<option value="{{ @to }}"
								<check if="{{ @sim.turnon1 == @to}}">
									selected
								</check>
								>{{ @to }}</option>
							</repeat>
						</select>
					</div>
					<div class="form-group">
						<label for="turnon2">Turn-on 2</label>
						<select class="custom-select" name="turnon2" id="turnon2">
							<option value="">-- None --</option>
							<repeat group="{{ @turnons }}" value="{{ @to }}">
								<option value="{{ @to }}"
								<check if="{{ @sim.turnon2 == @to}}">
									selected
								</check>
								>{{ @to }}</option>
							</repeat>
						</select>
					</div>
					<div class="form-group">
						<label for="turnon1">Turn-off</label>
						<select class="custom-select" name="turnoff" id="turnoff">
							<option value="">-- None --</option>
							<repeat group="{{ @turnons }}" value="{{ @to }}">
								<option value="{{ @to }}"
								<check if="{{ @sim.turnoff == @to}}">
									selected
								</check>
								>{{ @to }}</option>
							</repeat>
						</select>
					</div>
					<div class="form-group">
						<label for="preference">Gender Preference</label>
						<select class="custom-select" name="preference" id="preference">
							<option value="">-- None --</option>
							<option value="Males"
							<check if="{{ @sim.preference == 'Males'}}">
								selected
							</check>
							>Males</option>
							<option value="Females"
							<check if="{{ @sim.preference == 'Females'}}">
								selected
							</check>
							>Females</option>
							<option value="Both"
							<check if="{{ @sim.preference == 'Both'}}">
								selected
							</check>
							>Both</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="collapse mb-3" id="s2lifeStates" data-parent="#simstats">
		<div class="card card-body">
			<h5>Life and death details</h5>
			<div class="form-group">
				<label for="lifeState">Life state</label>
				<select class="custom-select" name="lifeState" id="lifeState">
					<option value="Alive"
					<check if="{{ @sim.lifeState == 'Alive'}}">
						selected
					</check>
					>Alive</option>
					<option value="Deceased"
					<check if="{{ @sim.lifeState == 'Deceased'}}">
						selected
					</check>
					>Deceased</option>
				</select>
			</div>

			<div class="form-group" id="deathshow" style="display: none;">
				<label for="death">Cause of death</label>
				<select class="custom-select" name="death" id="death">
					<option value="">-- None --</option>
					<repeat group="{{ @ghosts }}" value="{{ @death }}">
						<option value="{{ @death }}"
						<check if="{{ @sim.death == @death}}">
							selected
						</check>
						>{{ @death }}</option>
					</repeat>
				</select>
			</div>

			<div class="form-group">
				<h5>Supernatural traits</h5>
				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" disabled id="ghost" value="1" class="custom-control-input"
					<check if="{{ @sim.lifeState == 'Deceased'}}">
						checked
					</check>
					>
					<label class="custom-control-label" for="ghost"><img src="{{@BASE}}{{@s2path}}ghost.png" height="64" alt="Ghost"></label>
				</div>

				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" id="isAlien" value="1" name="isAlien" class="custom-control-input"
					<check if="{{ @sim.isAlien == 1}}">
						checked
					</check>
					>
					<label class="custom-control-label" for="isAlien"><img src="{{@BASE}}{{@s2path}}ufo.png" height="64" alt="Alien"></label>
				</div>

				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" id="isZombie" value="1" name="isZombie" class="custom-control-input"
					<check if="{{ @sim.isZombie == 1}}">
						checked
					</check>
					>
					<label class="custom-control-label" for="isZombie"><img src="{{@BASE}}{{@s2path}}turnon29.png" alt="Zombie"></label>
				</div>

				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" id="isVampire" value="1" name="isVampire" class="custom-control-input"
					<check if="{{ @sim.isVampire == 1}}">
						checked
					</check>
					>
					<label class="custom-control-label" for="isVampire"><img src="{{@BASE}}{{@s2path}}turnon9.png" alt="Vampire"></label>
				</div>

				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" id="isServo" value="1" name="isServo" class="custom-control-input"
					<check if="{{ @sim.isServo == 1}}">
						checked
					</check>
					>
					<label class="custom-control-label" for="isServo"><img src="{{@BASE}}{{@s2path}}turnon31.png" alt="Servo"></label>
				</div>

				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" id="isWerewolf" value="1" name="isWerewolf" class="custom-control-input"
					<check if="{{ @sim.isWerewolf == 1}}">
						checked
					</check>
					>
					<label class="custom-control-label" for="isWerewolf"><img src="{{@BASE}}{{@s2path}}turnon33.png" alt="Werewolf"></label>
				</div>

				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" id="isPlantSim" value="1" name="isPlantSim" class="custom-control-input"
					<check if="{{ @sim.isPlantSim == 1}}">
						checked
					</check>
					>
					<label class="custom-control-label" for="isPlantSim"><img src="{{@BASE}}{{@s2path}}turnon32.png" alt="PlantSim"></label>
				</div>


				<div class="custom-control custom-checkbox custom-control-inline">
					<input type="checkbox" id="isWitch" value="1" name="isWitch" class="custom-control-input"
					<check if="{{ @sim.isWitch == 1}}">
						checked
					</check>
					>
					<label class="custom-control-label" for="isWitch"><img src="{{@BASE}}{{@s2path}}turnon34.png" alt="Witch"></label>
				</div>

			</div>
		</div>
	</div>
		<div class="collapse mb-3" id="s2personality" data-parent="#simstats">
			<div class="card card-body">
				<div class="form-row">
					<div class="col text-center">
						<h5 class="mb-3 text-primary">Star Sign</h5>
						<div class="form-group">
							<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" id="aries" value="Aries" onchange="zodiacPoints(value)" name="starSign" class="custom-control-input"
								<check if="{{ @sim.starSign == 'Aries'}}">
									checked
								</check>
								>
							<label class="custom-control-label" for="aries"><img src="{{@BASE}}{{@s2path}}Zodiac5.png" alt="Aries"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="taurus" value="Taurus" onchange="zodiacPoints(value)" name="starSign" class="custom-control-input"
							<check if="{{ @sim.starSign == 'Taurus'}}">
								checked
							</check>
							>
							<label class="custom-control-label" for="taurus"><img src="{{@BASE}}{{@s2path}}Zodiac11.png" alt="Aries"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="gemini" value="Gemini" onchange="zodiacPoints(value)" name="starSign" class="custom-control-input"
							<check if="{{ @sim.starSign == 'Gemini'}}">
								checked
							</check>
							>
							<label class="custom-control-label" for="gemini"><img src="{{@BASE}}{{@s2path}}Zodiac7.png" alt="Gemini"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="cancer" value="Cancer" onchange="zodiacPoints(value)" name="starSign" class="custom-control-input"
							<check if="{{ @sim.starSign == 'Cancer'}}">
								checked
							</check>
							>
							<label class="custom-control-label" for="cancer"><img src="{{@BASE}}{{@s2path}}Zodiac6.png" alt="Cancer"></label>
						</div>
							<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="leo" value="Leo" onchange="zodiacPoints(value)" name="starSign" class="custom-control-input"
								<check if="{{ @sim.starSign == 'Leo'}}">
									checked
								</check>
							>
							<label class="custom-control-label" for="leo"><img src="{{@BASE}}{{@s2path}}Zodiac8.png" alt="Leo"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="virgo" value="Virgo" onchange="zodiacPoints(value)" name="starSign" class="custom-control-input"
							<check if="{{ @sim.starSign == 'Virgo'}}">
								checked
							</check>
							>
							<label class="custom-control-label" for="virgo"><img src="{{@BASE}}{{@s2path}}Zodiac12.png" alt="Virgo"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="libra" value="Libra" onchange="zodiacPoints(value)" name="starSign" class="custom-control-input"
							<check if="{{ @sim.starSign == 'Libra'}}">
								checked
							</check>
							>
							<label class="custom-control-label" for="libra"><img src="{{@BASE}}{{@s2path}}Zodiac3.png" alt="Libra"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" id="scorpio" onchange="zodiacPoints(value)" value="Scorpio" name="starSign" class="custom-control-input"
							<check if="{{ @sim.starSign == 'Scorpio'}}">
								checked
							</check>
							>
							<label class="custom-control-label" for="scorpio"><img src="{{@BASE}}{{@s2path}}Zodiac10.png" alt="Scorpio"></label>
						</div>
							<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="sag" onchange="zodiacPoints(value)" value="Sagittarius" name="starSign" class="custom-control-input"
								<check if="{{ @sim.starSign == 'Sagittarius'}}">
									checked
								</check>
						>
						<label class="custom-control-label" for="sag"><img src="{{@BASE}}{{@s2path}}Zodiac2.png" alt="Sagittarius"></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="capricorn" onchange="zodiacPoints(value)" value="Capricorn" name="starSign" class="custom-control-input"
						<check if="{{ @sim.starSign == 'Capricorn'}}">
							checked
						</check>
						>
						<label class="custom-control-label" for="capricorn"><img src="{{@BASE}}{{@s2path}}Zodiac1.png" alt="Capricorn"></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="aquarius" onchange="zodiacPoints(value)" value="Aquarius" name="starSign" class="custom-control-input"
						<check if="{{ @sim.starSign == 'Aquarius'}}">
							checked
						</check>
						>
						<label class="custom-control-label" for="aquarius"><img src="{{@BASE}}{{@s2path}}Zodiac4.png" alt="Aquarius"></label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="pisces" onchange="zodiacPoints(value)" value="Pisces" name="starSign" class="custom-control-input"
						<check if="{{ @sim.starSign == 'Pisces'}}">
							checked
						</check>
						>
						<label class="custom-control-label" for="pisces"><img src="{{@BASE}}{{@s2path}}Zodiac9.png" alt="Pisces"></label>
					</div>
						</div>
					</div>
					<div class="col">
						<h5 class="text-center text-primary mb-3">Personality Points</h5>
						<div class="form-group">
							<label for="neatPoints">Sloppy - Neat:  <output for="neatPoints" id="nP">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.neatPoints) }}" class="form-control-range" name="neatPoints" id="neatPoints" oninput="neatUpdate(value)">
						</div>
						<div class="form-group">
							<label for="outgoingPoints">Shy - Outgoing:  <output for="outgoingPoints" id="oP">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.outgoingPoints) }}" class="form-control-range" name="outgoingPoints" id="outgoingPoints" oninput="outgoingUpdate(value)">
						</div>
						<div class="form-group">
							<label for="activePoints">Lazy - Active:  <output for="activePoints" id="aP">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.activePoints) }}" class="form-control-range" name="activePoints" id="activePoints" oninput="activeUpdate(value)">
						</div>
						<div class="form-group">
							<label for="playfulPoints">Serious - Playful:  <output for="playfulPoints" id="pP">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.playfulPoints) }}" class="form-control-range" name="playfulPoints" id="playfulPoints" oninput="playfulUpdate(value)">
						</div>
						<div class="form-group">
							<label for="nicePoints">Grouchy - Nice:  <output for="nicePoints" id="ncP">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.nicePoints) }}" class="form-control-range" name="nicePoints" id="nicePoints" oninput="niceUpdate(value)">
						</div>
					</div>
			</div>
		</div>
	</div>
		<div class="collapse mb-3" id="s2aspirations" data-parent="#simstats">
			<div class="card card-body">
				<div class="form-row">
					<div class="col text-center">
						<h5 class="mb-3 text-primary">Aspirations</h5>
						<div class="form-row">
							<div class="form-group col">
								<label for="aspiration">Aspiration</label>
								<select class="custom-select" name="aspiration" id="aspiration">
									<repeat group="{{ @aspirations }}" value="{{ @aspiration }}">
										<option value="{{ @aspiration }}"
										<check if="{{ @sim.aspiration == @aspiration}}">
											selected
										</check>
										>{{ trim(@aspiration) }}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group col" id="sA">
								<label for="secondAsp">Secondary Aspiration</label>
								<select class="custom-select" name="secondAsp" id="secondAsp">
									<option value="">-- None --</option>
									<repeat group="{{ @aspirations }}" value="{{ @secondAsp }}">
										<check if="{{ @secondAsp != 'Grow Up' }}">
											<option value="{{ @secondAsp }}"
											<check if="{{ @sim.secondAsp == @secondAsp}}">
												selected
											</check>
											>{{ @secondAsp }}</option>
										</check>
									</repeat>
								</select>
							</div>
						</div>
					</div>
					<div class="col text-center">
						<h5 class="mb-3 text-primary">LTW</h5>
						<div class="form-row">
							<div class="form-group col">
								<label for="ltw">Lifetime Want</label>
								<select class="custom-select" name="ltw" id="ltw">
									<option value="">-- None --</option>
									<repeat group="{{ @ltws }}" value="{{ @ltw }}">
										<option value="{{ @ltw }}"
										<check if="{{ @sim.LTW == @ltw}}">
											selected
										</check>
										>{{ trim(@ltw) }}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group col"> <!-- LTW counter - only pop up if relevant LTW is chosen, change max value accordingly -->
								<div class="custom-control custom-checkbox">
									<label for="ltwctr">Counter</label>
									<input type="number" class="form-control" id="ltwctr" name="ltwctr" value="{{ @sim.ltwctr}}" min="0">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="collapse mb-3" id="s2skills" data-parent="#simstats">
		<div class="card card-body">
			<div class="form-row">
				<div class="col">
					<h5 class="text-center text-primary mb-3">Skills</h5>
					<div class="form-group">
						<label for="cooking">Cooking:  <output for="cooking" id="ckP">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.cooking) }}" class="form-control-range" name="cooking" id="cooking" oninput="cookingUpdate(value)">
					</div>
					<div class="form-group">
						<label for="mechanical">Mechanical:  <output for="mechanical" id="mP">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.mechanical) }}" class="form-control-range" name="mechanical" id="mechanical" oninput="mechanicalUpdate(value)">
					</div>
					<div class="form-group">
						<label for="charisma">Charisma:  <output for="charisma" id="chP">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.charisma) }}" class="form-control-range" name="charisma" id="charisma" oninput="charismaUpdate(value
				)">
					</div>
					<div class="form-group">
						<label for="body">Body:  <output for="body" id="bP">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.body) }}" class="form-control-range" name="body" id="body" oninput="bodyUpdate(value)">
					</div>
					<div class="form-group">
						<label for="logic">Logic:  <output for="logic" id="lP">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.logic) }}" class="form-control-range" name="logic" id="logic" oninput="logicUpdate(value)">
					</div>
					<div class="form-group">
						<label for="creativity">Creativity:  <output for="creativity" id="cvP">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.creativity) }}" class="form-control-range" name="creativity" id="creativity" oninput="creativityUpdate(value)">
					</div>
					<div class="form-group">
						<label for="cleaning">Cleaning:  <output for="cleaning" id="clP">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.cleaning) }}" class="form-control-range" name="cleaning" id="cleaning" oninput="cleaningUpdate(value)">
					</div>
				</div>
				<div class="col">
					<h5 class="text-center text-primary mb-3">Badges</h5>
					<div class="form-row">
						<div class="col">
							<div class="form-group">
								<label>Cosmetology <img src="{{@BASE}}{{@s2path}}OFB.png" alt="Needs OFB"></label>
								<select class="custom-select" name="makeup" id="makeup">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.makeup == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group">
								<label>Flower arranging <img src="{{@BASE}}{{@s2path}}OFB.png" alt="Needs OFB"></label>
								<select class="custom-select" name="flowers" id="flowers">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.flowers == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group">
								<label>Cashiering <img src="{{@BASE}}{{@s2path}}OFB.png" alt="Needs OFB"></label>
								<select class="custom-select" name="cashier" id="cashier">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.cashier == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group">
								<label>Restocking <img src="{{@BASE}}{{@s2path}}OFB.png" alt="Needs OFB"></label>
								<select class="custom-select" name="restocking" id="restocking">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.restocking == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group">
								<label>Robotics <img src="{{@BASE}}{{@s2path}}OFB.png" alt="Needs OFB"></label>
								<select class="custom-select" name="robotics" id="robotics">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.robotics == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group">
								<label>Toy making <img src="{{@BASE}}{{@s2path}}OFB.png" alt="Needs OFB"></label>
								<select class="custom-select" name="toysbadge" id="toysbadge">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.toysbadge == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label>Sales <img src="{{@BASE}}{{@s2path}}OFB.png" alt="Needs OFB"></label>
								<select class="custom-select" name="sales" id="sales">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.sales == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group">
								<label>Gardening <img src="{{@BASE}}{{@s2path}}Seasons.png" alt="Needs Seasons"></label>
								<select class="custom-select" name="gardening" id="gardening">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.gardening == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group">
								<label>Fishing <img src="{{@BASE}}{{@s2path}}Seasons.png" alt="Needs Seasons"></label>
								<select class="custom-select" name="fishing" id="fishing">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.fishing == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group">
								<label>Sewing <img src="{{@BASE}}{{@s2path}}FT.png" alt="Needs FT"></label>
								<select class="custom-select" name="sewing" id="sewing">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.sewing == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
							<div class="form-group">
								<label>Pottery <img src="{{@BASE}}{{@s2path}}FT.png" alt="Needs FT"></label>
								<select class="custom-select" name="pottery" id="pottery">
									<option value="">Not earned</option>
									<repeat group="{{ @badgelevels }}" key="{{@level}}" value="{{ @levelName }}">
										<option value="{{@level}}"
										<check if="{{ @sim.pottery == @level}}">
											selected
										</check>
										>{{trim(@levelName)}}</option>
									</repeat>
								</select>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="collapse mb-3" id="s2interests" data-parent="#simstats">
			<div class="card card-body">
				<h5 class="text-center text-primary mb-3">Interests</h5>
				<div class="form-row">
					<div class="col">
						<div class="form-group">
						<label for="environment">Environment:  <output for="environment" id="env">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.environment) }}" class="form-control-range" name="environment" id="environment" oninput="envUpdate(value)">
					</div>
						<div class="form-group">
						<label for="weather">Weather:  <output for="weather" id="wth">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.weather) }}" class="form-control-range" name="weather" id="weather" oninput="weatherUpdate(value)">
					</div>
						<div class="form-group">
						<label for="money">Money:  <output for="money" id="mny">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.money) }}" class="form-control-range" name="money" id="money" oninput="moneyUpdate(value
				)">
					</div>
						<div class="form-group">
						<label for="paranormal">Paranormal:  <output for="paranormal" id="para">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.paranormal) }}" class="form-control-range" name="paranormal" id="paranormal" oninput="paraUpdate(value)">
					</div>
						<div class="form-group">
						<label for="fashion">Fashion:  <output for="fashion" id="fash">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.fashion) }}" class="form-control-range" name="fashion" id="fashion" oninput="fashUpdate(value)">
					</div>
						<div class="form-group">
						<label for="crime">Crime:  <output for="crime" id="crim">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.crime) }}" class="form-control-range" name="crime" id="crime" oninput="crimeUpdate(value)">
					</div>

					</div>
					<div class="col">
						<div class="form-group">
						<label for="food">Food:  <output for="food" id="fudz">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.food) }}" class="form-control-range" name="food" id="food" oninput="foodUpdate(value)">
					</div>
						<div class="form-group">
						<label for="culture">Culture:  <output for="culture" id="clt">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.culture) }}" class="form-control-range" name="culture" id="culture" oninput="cultureUpdate(value)">
					</div>
						<div class="form-group">
						<label for="politics">Politics:  <output for="politics" id="pols">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.politics) }}" class="form-control-range" name="politics" id="politics" oninput="polsUpdate(value
				)">
					</div>
						<div class="form-group">
						<label for="health">Health:  <output for="health" id="hth">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.health) }}" class="form-control-range" name="health" id="health" oninput="healthUpdate(value)">
					</div>
						<div class="form-group">
						<label for="travel">Travel:  <output for="travel" id="tvl">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.travel) }}" class="form-control-range" name="travel" id="travel" oninput="travelUpdate(value)">
					</div>
						<div class="form-group">
						<label for="sports">Sports:  <output for="sports" id="spts">1</output></label>
						<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.sports) }}" class="form-control-range" name="sports" id="sports" oninput="sportsUpdate(value)">
					</div>

					</div>
					<div class="col">
						<div class="form-group">
							<label for="entertainment">Entertaiment:  <output for="entertainment" id="ents">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.entertainment) }}" class="form-control-range" name="entertainment" id="entertainment" oninput="entsUpdate(value)">
						</div>
						<div class="form-group">
							<label for="work">Work:  <output for="work" id="wk">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.work) }}" class="form-control-range" name="work" id="work" oninput="workUpdate(value)">
						</div>
						<div class="form-group">
							<label for="toys">Toys:  <output for="toys" id="ty">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.toys) }}" class="form-control-range" name="toys" id="toys" oninput="toysUpdate(value)">
						</div>
						<div class="form-group">
							<label for="animals">Animals:  <output for="animals" id="amls">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.animals) }}" class="form-control-range" name="animals" id="animals" oninput="animalsUpdate(value)">
						</div>
						<div class="form-group">
							<label for="school">School:  <output for="school" id="sch">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.school) }}" class="form-control-range" name="school" id="school" oninput="schoolUpdate(value)">
						</div>
						<div class="form-group">
							<label for="scifi">Sci-fi:  <output for="scifi" id="sci">1</output></label>
							<input type="range" class="custom-range" min="0" max="10" value="{{ trim(@sim.scifi) }}" class="form-control-range" name="scifi" id="scifi" oninput="scifiUpdate(value)">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Hidden fields and form submission -->
	<div class="control-group">
		<div class="">
			<input type="text" name="hptrap" class="hptrap" />
			<input type="hidden" name="update" value="update" />
			<input type="hidden" name="id" value="{{ @sim.id }}" />
			<button type="submit" class="btn btn-success mb-3"><i class="fa fa-edit" aria-hidden="true"></i> Update</button>
			<a href="{{ @BASE.'/sims' }}" class="btn btn-secondary mb-3"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
		</div>
	</div>
	</div><!-- /accordion -->
</form>

<script type="text/javascript">s2path='{{@BASE}}{{@s2path}}';</script>
<script>
	let asp;
	let secondAsp;
	let growup = $('select').children('option[value="Grow Up"]');
	$(function () {
		// initiate s2personality
		document.querySelector('#nP').value = {{trim(@sim.neatPoints)}};
		document.querySelector('#oP').value = {{trim(@sim.outgoingPoints)}};
		document.querySelector('#aP').value = {{trim(@sim.activePoints)}};
		document.querySelector('#pP').value = {{trim(@sim.playfulPoints)}};
		document.querySelector('#ncP').value = {{trim(@sim.nicePoints)}};

		// initialise s2skills
		document.querySelector('#ckP').value = {{trim(@sim.cooking)}};
		document.querySelector('#mP').value = {{trim(@sim.mechanical)}};
		document.querySelector('#chP').value = {{trim(@sim.charisma)}};
		document.querySelector('#bP').value = {{trim(@sim.body)}};
		document.querySelector('#lP').value = {{trim(@sim.logic)}};
		document.querySelector('#cvP').value = {{trim(@sim.creativity)}};
		document.querySelector('#clP').value = {{trim(@sim.cleaning)}};

		// initialise s2interests
		document.querySelector('#env').value = {{trim(@sim.environment)}};
		document.querySelector('#wth').value = {{trim(@sim.weather)}};
		document.querySelector('#mny').value = {{trim(@sim.money)}};
		document.querySelector('#para').value = {{trim(@sim.paranormal)}};
		document.querySelector('#fash').value = {{trim(@sim.fashion)}};
		document.querySelector('#crim').value = {{trim(@sim.crime)}};
		document.querySelector('#ents').value = {{trim(@sim.entertainment)}};
		document.querySelector('#wk').value = {{trim(@sim.work)}};
		document.querySelector('#ty').value = {{trim(@sim.toys)}};
		document.querySelector('#fudz').value = {{trim(@sim.food)}};
		document.querySelector('#clt').value = {{trim(@sim.culture)}};
		document.querySelector('#pols').value = {{trim(@sim.politics)}};
		document.querySelector('#hth').value = {{trim(@sim.health)}};
		document.querySelector('#tvl').value = {{trim(@sim.travel)}};
		document.querySelector('#spts').value = {{trim(@sim.sports)}};
		document.querySelector('#amls').value = {{trim(@sim.animals)}};
		document.querySelector('#sch').value = {{trim(@sim.school)}};
		document.querySelector('#sci').value = {{trim(@sim.scifi)}};

		asp = $('#aspiration').val();
		secondAsp = $('#secondAsp').val();

		$('#secondAsp').children('option').each(function () {
			if ($(this).val() == asp) {
				$(this).hide();
				if ($(growup).is(':selected') == true) {
					$(growup).removeAttr('selected')
					$(growup).next().attr('selected', '')
				}
			} else {
				$(this).show();
			}
		});

		$('#aspiration').children('option').each(function () {
			if ($(this).val() == secondAsp) {
				$(this).hide();
				if ($(growup).is(':selected') == true) {
					$(growup).removeAttr('selected')
					$(growup).next().attr('selected', '')
				}
			} else {
				$(this).show();
			}
		});

		aspCheck();
        genshow();
		deathshow();
		$('#age').change(function () {
			aspCheck();
		});
		$('#lifeState').change(function () {
			deathshow();
		});

		$('#aspiration').on('change', function () {
			asp = $(this).val();

			$('#secondAsp').children('option').each(function () {
				if ($(this).val() == asp) {
					$(this).hide();
				} else {
					$(this).show();
				}
			});
		});

		$('#secondAsp').on('change', function () {
			asp = $(this).val();

			$('#aspiration').children('option').each(function () {
				if ($(this).val() == asp) {
					$(this).hide();
				} else {
					$(this).show();
				}
			});
		});

		$("#origin").change(function () {
            genshow();
        });
	});

	function genshow() {
	    if ($("#origin").val() === "big" || $("#origin").val() === "cas") {
            $( "#genshow" ).attr('aria-hidden', 'false').show();
			$("#generation").val({{ trim(@sim.generation) }});
        }
	    else {
            $( "#genshow" ).attr('aria-hidden', 'true').hide();
        }
        if ($("#origin").val() === "townie" || $("#origin").val() === "npc")
            $("#generation").val(0);
    }

	function deathshow() {
		if ($("#lifeState").val() === "Deceased") {
			$( "#deathshow" ).attr('aria-hidden', 'false').show();
			$("#ghost").prop('checked', true);
		}
		else {
			$( "#deathshow" ).attr('aria-hidden', 'true').hide();
			$("#ghost").prop('checked', false);
		}
	}


	function aspCheck() {
		switch ($( "#age" ).val()) {
			case 'Infant':
				$("#aspiration").val("Grow Up");
				$('#aspiration').attr("disabled",'disabled').siblings().removeAttr('disabled');
				$('#secondAsp').attr("disabled",'disabled');
				$( "#sA" ).attr('aria-hidden', 'true').hide();
				$("#aspltw").attr('aria-disabled', 'true').addClass("disabled");
				$(".infant").attr('aria-hidden', 'true').hide();
				break;
			case 'Toddler':
				$("#aspiration").val("Grow Up");
				$('#aspiration').attr("disabled",'disabled').siblings().removeAttr('disabled');
				$('#secondAsp').attr("disabled",'disabled');
				$( "#sA" ).attr('aria-hidden', 'true').hide();
				$("#aspltw").attr('aria-disabled', 'true').addClass("disabled");
				$(".infant").attr('aria-hidden', 'false').show();
				$(".toddler").attr('aria-hidden', 'true').hide();
				break;
			case 'Child':
				$("#aspiration").val("Grow Up");
				$('#aspiration').attr("disabled",'disabled').siblings().removeAttr('disabled');
				$('#secondAsp').attr("disabled",'disabled');
				$( "#sA" ).attr('aria-hidden', 'true').hide();
				$("#aspltw").attr('aria-disabled', 'true').addClass("disabled");
				$(".infant").attr('aria-hidden', 'false').show();
				$(".toddler").attr('aria-hidden', 'false').show();
				$(".child").attr('aria-hidden', 'true').hide();
				$("#workbtntext").text("School");
				break;
			case 'Teen':
				$('#aspiration').removeAttr("disabled");
				growup.hide();
				$('#secondAsp').removeAttr("disabled");
				$( "#sA" ).attr('aria-hidden', 'false').show();
				$("#aspltw").attr('aria-disabled', 'false').removeClass("disabled");
				$(".infant").attr('aria-hidden', 'false').show();
				$(".toddler").attr('aria-hidden', 'false').show();
				$(".child").attr('aria-hidden', 'false').show();
				$("#workbtntext").text("Work & school");
				break;
			case 'Young Adult':
				$('#aspiration').removeAttr("disabled");
				growup.hide();
				$('#secondAsp').removeAttr("disabled");
				$( "#sA" ).attr('aria-hidden', 'false').show();
				$("#aspltw").attr('aria-disabled', 'false').removeClass("disabled");
				$(".infant").attr('aria-hidden', 'false').show();
				$(".toddler").attr('aria-hidden', 'false').show();
				$(".child").attr('aria-hidden', 'false').show();
				$("#workbtntext").text("Major");
				break;
			case 'Adult':
				$('#aspiration').removeAttr("disabled");
				growup.hide();
				$('#secondAsp').removeAttr("disabled");
				$( "#sA" ).attr('aria-hidden', 'false').show();
				$("#aspltw").attr('aria-disabled', 'false').removeClass("disabled");
				$(".infant").attr('aria-hidden', 'false').show();
				$(".toddler").attr('aria-hidden', 'false').show();
				$(".child").attr('aria-hidden', 'false').show();
				$("#workbtntext").text("Career");
				break;
			case 'Elder':
				$('#aspiration').removeAttr("disabled");
				growup.hide();
				$('#secondAsp').removeAttr("disabled");
				$( "#sA" ).attr('aria-hidden', 'false').show();
				$("#aspltw").attr('aria-disabled', 'false').removeClass("disabled");
				$(".infant").attr('aria-hidden', 'false').show();
				$(".toddler").attr('aria-hidden', 'false').show();
				$(".child").attr('aria-hidden', 'false').show();
				$("#workbtntext").text("Career");
				break;
			default:
				$("#aspiration").val("Grow Up");
				$('#aspiration').attr("disabled",'disabled').siblings().removeAttr('disabled');
				$('#secondAsp').attr("disabled",'disabled');
				$( "#sA" ).attr('aria-hidden', 'false').show();
				$("#aspltw").attr('aria-disabled', 'true').addClass("disabled");
				break;
		}
	}

	// check s2personality
	function neatUpdate(v) {
		document.querySelector('#nP').value = v;
	}
	function outgoingUpdate(v) {
		document.querySelector('#oP').value = v;
	}
	function activeUpdate(v) {
		document.querySelector('#aP').value = v;
	}
	function playfulUpdate(v) {
		document.querySelector('#pP').value = v;
	}
	function niceUpdate(v) {
		document.querySelector('#ncP').value = v;
	}

	// check s2skills
	function cookingUpdate(v) {
		document.querySelector('#ckP').value = v;
	}
	function mechanicalUpdate(v) {
		document.querySelector('#mP').value = v;
	}
	function charismaUpdate(v) {
		document.querySelector('#chP').value = v;
	}
	function bodyUpdate(v) {
		document.querySelector('#bP').value = v;
	}
	function logicUpdate(v) {
		document.querySelector('#lP').value = v;
	}
	function creativityUpdate(v) {
		document.querySelector('#cvP').value = v;
	}
	function cleaningUpdate(v) {
		document.querySelector('#clP').value = v;
	}

	// check s2interests
	function envUpdate(v) {
		document.querySelector('#env').value = v;
	}
	function weatherUpdate(v) {
		document.querySelector('#wth').value = v;
	}
	function moneyUpdate(v) {
		document.querySelector('#mny').value = v;
	}
	function paraUpdate(v) {
		document.querySelector('#para').value = v;
	}
	function fashUpdate(v) {
		document.querySelector('#fash').value = v;
	}
	function crimeUpdate(v) {
		document.querySelector('#crim').value = v;
	}
	function entsUpdate(v) {
		document.querySelector('#ents').value = v;
	}
	function workUpdate(v) {
		document.querySelector('#wk').value = v;
	}
	function toysUpdate(v) {
		document.querySelector('#ty').value = v;
	}
	function foodUpdate(v) {
		document.querySelector('#fudz').value = v;
	}
	function cultureUpdate(v) {
		document.querySelector('#clt').value = v;
	}
	function polsUpdate(v) {
		document.querySelector('#pols').value = v;
	}
	function healthUpdate(v) {
		document.querySelector('#hth').value = v;
	}
	function travelUpdate(v) {
		document.querySelector('#tvl').value = v;
	}
	function sportsUpdate(v) {
		document.querySelector('#spts').value = v;
	}
	function animalsUpdate(v) {
		document.querySelector('#amls').value = v;
	}
	function schoolUpdate(v) {
		document.querySelector('#sch').value = v;
	}
	function scifiUpdate(v) {
		document.querySelector('#sci').value = v;
	}

	function zodiacPoints(v) {
		let nP;
		let oP;
		let aP;
		let pP;
		let ncP;

		switch (v) {
			case 'Aries':
				nP = 5;
				oP = 8;
				aP = 6;
				pP = 3;
				ncP = 3;
			break;
			case 'Taurus':
				nP = 5;
				oP = 5;
				aP = 3;
				pP = 8;
				ncP = 4;
				break;
			case 'Gemini':
				nP = 4;
				oP = 7;
				aP = 8;
				pP = 3;
				ncP = 3;
				break;
			case 'Cancer':
				nP = 6;
				oP = 3;
				aP = 6;
				pP = 4;
				ncP = 6;
				break;
			case 'Leo':
				nP = 4;
				oP = 10;
				aP = 4;
				pP = 4;
				ncP = 3;
				break;
			case 'Virgo':
				nP = 9;
				oP = 2;
				aP = 6;
				pP = 3;
				ncP = 5;
				break;
			case 'Libra':
				nP = 2;
				oP = 8;
				aP = 2;
				pP = 6;
				ncP = 7;
				break;
			case 'Scorpio':
				nP = 6;
				oP = 5;
				aP = 8;
				pP = 3;
				ncP = 3;
				break;
			case 'Sagittarius':
				nP = 2;
				oP = 3;
				aP = 9;
				pP = 7;
				ncP = 4;
				break;
			case 'Capricorn':
				nP = 7;
				oP = 4;
				aP = 1;
				pP = 8;
				ncP = 5;
				break;
			case 'Aquarius':
				nP = 4;
				oP = 4;
				aP = 4;
				pP = 7;
				ncP = 6;
				break;
			case 'Pisces':
				nP = 5;
				oP = 3;
				aP = 7;
				pP = 3;
				ncP = 7;
				break;
			default:
				break;
		}
		$('#neatPoints').val(nP);
		neatUpdate(nP);
		$('#outgoingPoints').val(oP);
		outgoingUpdate(oP);
		$('#activePoints').val(aP);
		activeUpdate(aP);
		$('#playfulPoints').val(pP);
		playfulUpdate(pP);
		$('#nicePoints').val(ncP);
		niceUpdate(ncP);
	}

</script>