<form action="{{ @BASE.'/sim/update' }}" validate="true" method="post" class="form-horizontal">
	{* Sim's name *}
	<div class="form-row">
		<div class="form-group col">
			<label for="firstName">First Name</label>
			<input type="text" required="required" class="form-control" name="firstName" value="{{ trim(@sim.firstName) }}" id="firstName" />
		</div>
		<div class="form-group col">
			<label for="lastName">Last Name</label>
			<input type="text" required="required" class="form-control" name="lastName" value="{{ trim(@sim.lastName) }}" id="lastName" />
		</div>
	</div>

	{* Gender and age *}
	<div class="form-row">
		<div class="form-group col">
			<label for="gender">Gender</label>
			<select class="custom-select" required="required" name="gender" id="gender">
				<option value="F"
				<check if="{{ @sim.gender == 'F'}}">
					selected
				</check>
				>Female</option>
				<option value="M"
				<check if="{{ @sim.gender == 'M'}}">
					selected
				</check>
				>Male</option>
			</select>
		</div>

		<div class="form-group col">
			<label for="age">Age</label>
			<select class="custom-select" required="required" name="age" id="age">
				<repeat group="{{ @ages }}" value="{{ @age }}">
					<option value="{{ @age }}"
					<check if="{{ @sim.age == @age}}">
						selected
					</check>
					>{{ @age }}</option>
				</repeat>
			</select>
		</div>
	</div>

	{* Origin *}
	<div class="form-row">
		<div class="form-group col">
			<label for="origin">Origin</label>
			<select class="custom-select" name="origin" required="required" id="origin">
				<option>-- Where does this sim come from? --</option>
				<option value="cas"
				<check if="{{ @sim.origin == 'cas'}}">
					selected
				</check>
				>CAS</option>
				<option value="big"
				<check if="{{ @sim.origin == 'big'}}">
					selected
				</check>
				>Born in-game</option>
				<option value="npc"
				<check if="{{ @sim.origin == 'npc'}}">
					selected
				</check>
				>NPC</option>
				<option value="townie"
				<check if="{{ @sim.origin == 'townie'}}">
					selected
				</check>
				>Townie</option>
			</select>
		</div>
		<div class="form-group col" id="genshow" style="display: none;">
			<label for="generation">What generation is this sim?</label>
			<input type="number" class="form-control" value="{{ trim(@sim.generation) }}" name="generation" id="generation" />
		</div>
	</div>

	{* Parents *}
	<div class="form-row">
		<div class="form-group col">
			<label for="parent1">Parent 1</label>
			<select class="custom-select" name="parent1" id="parent1">
				<option value="0">-- N/A --</option>
				<repeat group="{{ @parents }}" value="{{ @parent }}">
					<check if="{{ @parent.id !=  @sim.id}}">
						<option value="{{@parent.id}}"
						<check if="{{ @parent.id == @sim.parent1}}">
							selected
						</check>
						>{{trim(@parent.firstName)}}</option>
					</check>
				</repeat>
			</select>
		</div>
		<div class="form-group col">
			<label for="parent2">Parent 2</label>
			<select class="custom-select" name="parent2" id="parent2">
				<option value="0">-- N/A --</option>
				<option value="9998"
				<check if="{{ @sim.parent2 == 9998}}">
					selected
				</check>
				>Pollination Technician</option>
				<option value="9999"
				<check if="{{ @sim.parent2 == 9999}}">
					selected
				</check>
				>Plantsim</option>
				<repeat group="{{ @parents }}" value="{{ @parent }}">
					<check if="{{ @parent.id !=  @sim.id }}">
						<option value="{{@parent.id}}"
						<check if="{{ @parent.id == @sim.parent2}}">
							selected
						</check>
						>{{trim(@parent.firstName)}}</option>
					</check>
				</repeat>
			</select>
		</div>
	</div>
<include if="{{@hood.gameVersion == 2}}" href="sim/sims2/update.html" /> 
<include if="{{@hood.gameVersion == 3}}" href="sim/sims3/update.html" /> 
<include if="{{@hood.gameVersion == 4}}" href="sim/sims4/update.html" /> 	
			<!-- Hidden fields and form submission -->
			<div class="control-group">
				<div class="">
					<input type="text" name="hptrap" class="hptrap" />
					<input type="hidden" name="update" value="update" />
					<input type="hidden" name="id" value="{{ @sim.id }}" />
					<button type="submit" name="save" class="btn btn-success mb-3"><i class="fa fa-edit" aria-hidden="true"></i> Update</button>
					<a href="{{ @BASE.'/sims' }}" class="btn btn-secondary mb-3"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
				</div>
			</div>
</form>
