		<check if="{{ @challenges }}">
			<true>
				<table width="100%" cellpadding="5" class="challenges table table-hover table-bordered">
					<thead>
					<tr>
						<th scope="col">
							<select class="custom-select" id="challengeSort">
							<option value="">Challenge scope</option>
							<option value="Neighbourhood">Neighbourhood</option>
							<option value="Household">Household</option>
							<option value="Sim">Sim</option>
							</select>
						</th>
						<th scope="col">Name</th>
						<th scope="col">Challenge Type</th>
						<th scope="col">Action</th>
					</tr>
					</thead>
					<tbody>
					<repeat group="{{ @challenges }}" value="{{ @challenge }}">
									<tr>
										<td>
										<check if="{{ @challenge.nhID > 0 }}">
										Neighbourhood
										</check>
										<check if="{{ @challenge.hhID > 0 }}">
										Household
										</check>
										<check if="{{ @challenge.simID > 0 }}">
										Sim
										</check>
										</td>
										<td>{{ trim(@challenge.challengeName) }}</td>
										<td>{{ @challenge.type }}</td>
										<td><a href="{{ @BASE.'/challenge/update/'. @challenge.id }}" data-toggle="tooltip" title="Edit" class="text-primary"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
											<a href="{{ @BASE.'/challenge/delete/'. @challenge.id }}"onclick="return confirm('All data will be deleted. Are you sure?');"
								   data-toggle="tooltip"
								   title="Delete"
								   class="text-danger delete"><i class="fa fa-trash"></i></a>
												</td>
									</tr>
					</repeat>
					</tbody>
				</table>
			</true>
			<false>
				<p>No challenges found.</p>
			</false>
		</check>
<a href="{{ @BASE.'/challenge/create' }}" class="btn btn-success mt-3"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>
<script>
$(document).ready( function () {
    let table = $('.challenges').DataTable({
        responsive: {
        breakpoints: [
            { name: 'desktop', width: Infinity },
            { name: 'tablet',  width: 1024 },
            { name: 'fablet',  width: 768 },
            { name: 'phone',   width: 480 }
        ]
    }
	});
	$('#challengeSort').change(function() {
		let val = $(this).find('option:selected').val();
		console.log(val);
		table.columns(0).search(val).draw();
	});
} );
</script>