<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="hhs-tab" data-toggle="tab" href="#hhs" role="tab" aria-controls="hhs" aria-selected="true">Households</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="hoods-tab" data-toggle="tab" href="#hoods" role="tab" aria-controls="hoods" aria-selected="false">Neighbourhoods</a>
	</li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="hhs" role="tabpanel" aria-labelledby="hhs-tab">
		<check if="{{ @challenges }}">
			<true>
				<table width="600" cellpadding="5" class="table table-responsive table-hover table-bordered">
					<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Household</th>
						<th scope="col">Challenge Type</th>
						<th scope="col">Action</th>
					</tr>
					</thead>
					<tbody>
					<repeat group="{{ @challenges }}" value="{{ @challenge }}">
						<check if="{{ @challenge.nhID == null }}">
							<repeat group="{{ @households }}" value="{{ @household }}">
								<check if="{{ @household.hhID == @challenge.hhID }}">
									<tr>
										<td>{{ trim(@challenge.challengeName) }}</td>
										<td>{{ trim(@household.name) }}</td>
										<td>{{ trim(@challenge.type) }}</td>
										<td><a href="{{ @BASE.'/challenge/update/'. @challenge.id }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
											<a href="{{ @BASE.'/challenge/delete/'. @challenge.id }}"
											   data-toggle="confirmation"
											   data-title-class="text-primary"
											   data-content="All challenge data will be deleted."
											   class="btn btn-danger delete"><i class="fa fa-trash" aria-hidden="true"></i>
												Delete</a></td>
									</tr>
								</check>
							</repeat>
						</check>
					</repeat>
					</tbody>
				</table>
			</true>
			<false>
				<p>No challenges found.</p>
			</false>
		</check>
	</div>
	<div class="tab-pane fade" id="hoods" role="tabpanel" aria-labelledby="hoods-tab">
		<check if="{{ @challenges }}">
			<true>
				<table width="600" cellpadding="5" class="table table-responsive table-hover table-bordered">
					<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Hood</th>
						<th scope="col">Challenge Type</th>
						<th scope="col">Action</th>
					</tr>
					</thead>
					<tbody>
					<repeat group="{{ @challenges }}" value="{{ @challenge }}">
						<repeat group="{{ @hoods }}" value="{{ @hood }}">
							<check if="{{ @hood.id == @challenge.nhID }}">
								<check if="{{ @challenge.hhID == null }}">
									<tr>
										<td>{{ trim(@challenge.challengeName) }}</td>
										<td>{{ trim(@hood.name) }}</td>
										<td>{{ trim(@challenge.type) }}</td>
										<td><a href="{{ @BASE.'/challenge/update/'. @challenge.id }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
											<a href="{{ @BASE.'/challenge/delete/'. @challenge.id }}"
											   data-toggle="confirmation"
											   data-content="All challenge data will be deleted."
											   class="btn btn-danger delete"><i class="fa fa-trash" aria-hidden="true"></i>
												Delete</a></td>
									</tr>
								</check>
							</check>
						</repeat>
					</repeat>
					</tbody>
				</table>
			</true>
			<false>
				<p>No challenges found.</p>
			</false>
		</check>
	</div>
</div>
