<check if="{{ @pets }}">
	<true>
		<table width="100%" cellpadding="5" id="pets" class="table table-hover table-bordered">
			<thead>
			<tr>
				<th scope="col">
						<select class="custom-select" id="hhSort">
						<option value="">Household</option>
						<repeat group="{{ @households }}" value="{{ @household }}">
						<option value="{{ trim(@household.name) }}">{{ trim(@household.name) }}</option>
						</repeat>
						</select>
				</th>
				<th scope="col">Name</th>
				<th scope="col">Age</th>
				<th scope="col">Species</th>
				<th scope="col">Gender</th>
				<th scope="col">Action</th>
			</tr>
			</thead>

			<tbody>
			<repeat group="{{ @households }}" value="{{ @household }}">
				<repeat group="{{ @pets }}" value="{{ @pet }}">
					<check if="{{ @pet.hhID == @household.hhID }}">
						<tr>
							<td>{{ trim(@household.name) }}</td>
							<td>{{ trim(@pet.name) }}</td>
							<td>
								<check if="{{ @pet.age == 'Baby' }}">
									<true>
										<check if="{{ @pet.species == 'Cat' }}">
											<true>
												Kitten
											</true>
											<false>
												Puppy
											</false>
										</check>
									</true>
									<false>
										{{ trim(@pet.age)}}
									</false>
								</check>
							</td>
							<td>{{ trim(@pet.species) }}</td>
							<td>
							<check if="{{ @pet.gender == 'M' }}">
								<true>
								Male
								</true>
								<false>
								Female
								</false>
							</check>
							</td>
							<td><a href="{{ @BASE.'/pet/view/'. @pet.id }}" class="btn btn-info" target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
								<a href="{{ @BASE.'/pet/update/'. @pet.id }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
								<a href="{{ @BASE.'/pet/delete/'. @pet.id }}"
								   data-toggle="confirmation"
								   data-content="All pet data will be deleted."
								   data-popout="true"
								   class="btn btn-danger delete"><i class="fa fa-trash" aria-hidden="true"></i>
									Delete</a></td>
						</tr>
					</check>
				</repeat>
			</repeat>
			</tbody>
		</table>
	</true>
	<false>
		<p>No pets found.</p>
	</false>
</check>
<a href="{{ @BASE.'/pet/create' }}" class="btn btn-success mt-3"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>

<script>
$(document).ready( function () {
    let table = $('#pets').DataTable({
        responsive: {
        breakpoints: [
            { name: 'desktop', width: Infinity },
            { name: 'tablet',  width: 1024 },
            { name: 'fablet',  width: 768 },
            { name: 'phone',   width: 480 }
        ]
    }
	});
	$('#hhSort').change(function() {
		let val = $(this).find('option:selected').val();
		table.columns(0).search(val).draw();
	});
} );
</script>