</div>
</div>
</div>
</main>
<footer class="footer text-light shadow-sm">
    <div class="container-fluid">
		<div class="container">
			<ul class="nav nav-white justify-content-center">
			<repeat group="{{ @footer }}" key="{{ @fkey }}" value="{{ @fitem }}">
				<li <check if="{{ @title == @fitem }}">
				<true>
					class="nav-item active"
				</true>
				<false>
					class="nav-item"
				</false>
			</check>
				>
				<a href="{{@BASE}}{{@fkey}}" <check if="{{ @title == @fitem }}">
				<true>
					class="nav-link active"
				</true>
				<false>
					class="nav-link"
				</false>
			</check>
				>{{@fitem}} <check if="{{ @title == @fitem }}"><span class="sr-only">(current)</span></check></a>
				</li>
			</repeat>
			</ul>
			<small>
	This site is not endorsed by or affiliated with Electronic Arts, or its licensors. Trademarks are the property of their respective owners. Game content and materials copyright Electronic Arts Inc. and its licensors. All Rights Reserved. Site built by Sam Phoenix &copy;
		<check if="{{ @copyyear == 2018}}">
			<true>{{ @copyyear }}</true>
			<false>2018 - {{ @copyyear }}</false>
		</check>
			</small>
		</div>
    </div>
</footer>
<include href="login.html" />
<include href="forgot.html" />
{* Scripts *}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{{@BASE}}/ui/js/jquery-simple-validator.min.js"></script>
<script src="{{@BASE}}/node_modules/bootstrap-confirmation2/dist/bootstrap-confirmation.js"></script>
<script src="{{@BASE}}/node_modules/shards-ui/dist/js/shards.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<script>
let json = "";
$(function () {
	'use strict';
	$('[data-toggle="offcanvas"]').on('click', function () {
		$('.offcanvas-collapse').toggleClass('open')
	});
		$('.toast').toast({delay: 5000});
		$('.toast').toast('show');
});
$("body").tooltip({ selector: '[data-toggle=tooltip]' });
$('[data-toggle=confirmation]').confirmation({
	rootSelector: '[data-toggle=confirmation]'
	// other options
});
//select all checkboxes - https://www.sanwebe.com/2014/01/how-to-select-all-deselect-checkboxes-jquery
$("#select_all").change(function(){  //"select all" change 
	var status = this.checked; // "select all" checked status
	$('.select_all').each(function(){ //iterate all listed checkbox items
		this.checked = status; //change ".checkbox" checked status
	});
});


$('#forgot').on('show.bs.modal', function (e) {
	$('#login').modal('toggle');
});

$('.select_all').change(function(){ //".checkbox" change 
	//uncheck "select all", if one of the listed checkbox item is unchecked
	if(this.checked == false){ //if this item is unchecked
		$("#select_all")[0].checked = false; //change "select all" checked status to false
	}
	
	//check "select all" if all checkbox items are checked
	if ($('.select_all:checked').length == $('.select_all').length ){ 
		$("#select_all")[0].checked = true; //change "select all" checked status to true
	}
});

var simoleans = wNumb({
	decimals: 0,
	thousand: ',',
	prefix: '§'
});
// From https://forum.jquery.com/topic/how-to-set-aria-hidden-attribute-on-jquery-show-hide-functions
jQuery.fn.extend({
    myShow: function () {
        return this.attr('aria-hidden', 'false').show()
    },
    myHide:function(){
        return this.attr('aria-hidden', 'true').hide()
    }
})
</script>
<check if="{{@hood.gameVersion == 2}}">
{* Careers *}
<script>
function careerPath(c) {
	switch(c) {
		case 1: 
		json = "{{@BASE}}/ui/json/s2careers/s2athletic.json";   
		break;
		case 2: 
		json = "{{@BASE}}/ui/json/s2careers/s2business.json";   
		break;
		case 3: 
		json = "{{@BASE}}/ui/json/s2careers/s2criminal.json";   
		break;
		case 4: 
		json = ($('#gender').val() == "F") ? "{{@BASE}}/ui/json/s2careers/s2culinaryF.json" : "{{@BASE}}/ui/json/s2careers/s2culinary.json";
		break;
		case 5: 
		json = "{{@BASE}}/ui/json/s2careers/s2lawenforcement.json";   
		break;
		case 6: 
		json = "{{@BASE}}/ui/json/s2careers/s2medicine.json";   
		break;
		case 7: 
		json = "{{@BASE}}/ui/json/s2careers/s2military.json";   
		break;
		case 8: 
		json = "{{@BASE}}/ui/json/s2careers/s2politics.json";   
		break;
		case 9: 
		json = "{{@BASE}}/ui/json/s2careers/s2science.json";   
		break;
		case 10: 
		json = "{{@BASE}}/ui/json/s2careers/s2slacker.json";   
		break;
		case 11: 
		json = "{{@BASE}}/ui/json/s2careers/s2artist.json";   
		break;
		case 12: 
		json = "{{@BASE}}/ui/json/s2careers/s2naturalscience.json";   
		break;
		case 13: 
		json = "{{@BASE}}/ui/json/s2careers/s2paranormal.json";   
		break;
		case 14: 
		json = ($('#gender').val() == "F") ? "{{@BASE}}/ui/json/s2careers/s2showbusinessF.json" : "{{@BASE}}/ui/json/s2careers/s2showbusiness.json";
		break;
		case 15: 
		json = "{{@BASE}}/ui/json/s2careers/s2law.json";   
		break;
		case 16: 
		json = "{{@BASE}}/ui/json/s2careers/s2gamer.json";   
		break;
		case 17: 
		json = "{{@BASE}}/ui/json/s2careers/s2adventurer.json";   
		break;
		case 18: 
		json = "{{@BASE}}/ui/json/s2careers/s2music.json";   
		break;
		case 19: 
		json = "{{@BASE}}/ui/json/s2careers/s2jouralism.json";   
		break;
		case 20: 
		json = "{{@BASE}}/ui/json/s2careers/s2education.json";   
		break;
		case 21: 
		json = "{{@BASE}}/ui/json/s2careers/s2entertainment.json";   
		break;
		case 22: 
		json = "{{@BASE}}/ui/json/s2careers/s2dance.json";   
		break;
		case 23: 
		json = "{{@BASE}}/ui/json/s2careers/s2architecture.json";   
		break;
		case 24: 
		json = "{{@BASE}}/ui/json/s2careers/s2intelligence.json";   
		break;
		case 25: 
		json = "{{@BASE}}/ui/json/s2careers/s2oceanography.json";   
		break;
		default:
		json = "{{@BASE}}/ui/json/s2careers/s2career.json";  
		break;
	}
}

function careerPet(c) {
	switch(c) {
		case 1: 
		json = "{{@BASE}}/ui/json/s2careers/s2security.json";   
		break;
		case 2: 
		json = "{{@BASE}}/ui/json/s2careers/s2service.json";   
		break;
		case 3: 
		json = "{{@BASE}}/ui/json/s2careers/s2showbiz.json";   
		break;
		default:
		json = "{{@BASE}}/ui/json/s2careers/s2careerpets.json";  
		break;
	}
}
</script>
{* Sims 2 sliders *}
	<check if="{{ @title == 'Update Sim' }}">
	{* Update-related sliders *}
		<script>
		// initiate s2personality
		let neatVal = {{trim(@sim.neatPoints)}};
		let outgoingVal = {{trim(@sim.outgoingPoints)}};
		let activeVal = {{trim(@sim.activePoints)}};
		let playfulVal = {{trim(@sim.playfulPoints)}};
		let niceVal = {{trim(@sim.nicePoints)}};

		// initiate s2skills
		let cookVal = {{trim(@sim.cooking)}};
		let mechVal = {{trim(@sim.mechanical)}};
		let charVal = {{trim(@sim.charisma)}};
		let bodyVal = {{trim(@sim.body)}};
		let logicVal = {{trim(@sim.logic)}};
		let createVal = {{trim(@sim.creativity)}};
		let cleanVal = {{trim(@sim.cleaning)}}; 

		// initialise s2interests
		let envVal = {{trim(@sim.environment)}};
		let weatherVal = {{trim(@sim.weather)}};
		let moneyVal = {{trim(@sim.money)}};
		let paraVal = {{trim(@sim.paranormal)}};
		let fashionVal = {{trim(@sim.fashion)}};
		let crimeVal = {{trim(@sim.crime)}};
		let entVal = {{trim(@sim.entertainment)}};
		let workVal = {{trim(@sim.work)}};
		let toysVal = {{trim(@sim.toys)}};
		let foodVal = {{trim(@sim.food)}};
		let cultureVal = {{trim(@sim.culture)}};
		let politicsVal = {{trim(@sim.politics)}};
		let healthVal = {{trim(@sim.health)}};
		let travelVal = {{trim(@sim.travel)}};
		let sportsVal = {{trim(@sim.sports)}};
		let animalsVal = {{trim(@sim.animals)}};
		let schoolVal = {{trim(@sim.school)}};
		let scifiVal = {{trim(@sim.scifi)}};

		// initialise s2hobbies
		let cuisineVal = {{trim(@sim.cuisine)}};
		let filmVal = {{trim(@sim.film)}};
		let tinkeringVal = {{trim(@sim.tinkering)}};
		let sportVal = {{trim(@sim.sport)}};
		let musicVal = {{trim(@sim.music)}};
		let fitnessVal = {{trim(@sim.fitness)}};
		let artsVal = {{trim(@sim.arts)}};
		let scienceVal = {{trim(@sim.science)}};
		let gamesVal = {{trim(@sim.games)}};
		let natureVal = {{trim(@sim.nature)}};

		// initiate s2al
		let repVal = {{ trim(@sim.reputation) }};
		let alignVal = {{ trim(@sim.alignment) }};
		let magicVal = {{ trim(@sim.magicLevel) }};
		</script>
		<script src="{{@BASE}}/ui/js/s2sliders.min.js"></script>
	</check>
</check>

<check if="{{@hood.gameVersion == 3}}"></check>
<check if="{{@hood.gameVersion == 4}}"></check>

{* Universal scripts *}
<script>
	<check if="{{ @title == 'Update Relationship' }}">
		let strVal = {{trim(@relationship.str)}};
		let ltrVal = {{trim(@relationship.ltr)}};
		var str = document.getElementById('str');
		var strValueElement = document.getElementById('st');
		var ltr = document.getElementById('ltr');
		var ltrValueElement = document.getElementById('lt');

        /* STR */
		$('#str').customSlider({
			start: [strVal],
			step: 1,
			range: {
			'min': -100,
			'max': 100
			},
			format: wNumb({
				decimals: 0
			}),
		    ariaFormat: wNumb({
				decimals: 0
			}),
            pips: {
            mode: 'positions',
            values: [0, 25, 50, 75, 100],
            density: 5
            }
		});

		str.noUiSlider.on('update', function (values, handle) {
			strValueElement.innerHTML = values[handle];
		});

        /* LTR */
		$('#ltr').customSlider({
			start: [ltrVal],
			step: 1,
			range: {
			'min': -100,
			'max': 100
			},
			format: wNumb({
				decimals: 0
			}),
		    ariaFormat: wNumb({
				decimals: 0
			}),
            pips: {
            mode: 'positions',
            values: [0, 25, 50, 75, 100],
            density: 5
            }
		});

		ltr.noUiSlider.on('update', function (values, handle) {
			ltrValueElement.innerHTML = values[handle];
		});
	</check>
</script>
</body>
</html>
