<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{ @title }} | {{ @site }}</title>
	<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="{{@BASE}}/node_modules/shards-ui/dist/css/shards.min.css" rel="stylesheet"/>
	<link href="{{@BASE}}/ui/css/sticky-footer-navbar.min.css" rel="stylesheet"/>
	<check if="{{ @SESSION.user }}">
		<link href="{{@BASE}}/ui/css/offcanvas.min.css" rel="stylesheet"/>
	</check>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{{@BASE}}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	{* Autocomplete scripts *}
	<check if="{{ @title == 'Create Neighbourhood' }}">
	<script>
		$(function() {
		let hoods = [
			'Pleasantview',
			'Strangetown',
			'Veronaville',
			'Sim State University',
			'La Fiesta Tech',
			'Académie Le Tour',
			'Downtown',
			'Bluewater Village',
			'Riverblossom Hills',
			'Belladonna Cove'
	]

		$( "#name" ).autocomplete({
			source: hoods
		});
	});
	</script>
	</check>
</head>
<body class="bg-dark bg">
<include href="mainmenu.html" />
<main role="main" class="container">
	<div class="container-fluid m-auto"> <!-- this is to make it responsive to your screen width -->
		<div class="row">
			<div class="col main-container">  <!-- myClassName is defined in my CSS as you defined your container -->
				<check if="{{ @title != 'Home' }}">
					<h1 class="text-primary mt-5">{{ @title }}</h1>
				</check>
				<include href="messages.html" />