<div class="jumbotron">
	<h1 class="title display-1">{{@site}}</h1>
	<p>This is a game helper, specifically for players of The Sims series (currently just 2) to keep track of their sims, and even keep score of a legacy challenge (more info at <a href="https://www.simslegacychallenge.com/legacy-challenge-rules/sims-2-legacy-challenge-rules-advanced/" target="_blank">Sims Legacy Challenge</a>).</p>

	<p>It is very much WIP, but is regularly updated.</p>

	<p>Most of the magic happens when you are logged in, so feel free to create an account and have a play :)</p>

	<p>Last updated: 15 July 2019</p>
</div>