<div class="jumbotron">
	<h1 class="title display-1">{{@site}}</h1>
	<p>This is a game helper, specifically for players of The Sims series (currently just 2) to keep track of their sims, and even keep score of a legacy challenge (more info at <a href="https://www.simslegacychallenge.com/legacy-challenge-rules/sims-2-legacy-challenge-rules-advanced/" target="_blank">Sims Legacy Challenge</a>).</p>

	<p>It is very much WIP, but is regularly updated.</p>

	<p>Most of the magic happens when you are logged in, so feel free to create an account and have a play &#128578;</p>

	<p>Last updated: 29/09/2020</p>
	<p><b>Finished:</b> Sims 2 Aspiration and family generators; Sims 2 Legacy Scoresheet</p>
	<p><b>WIP:</b> Sims 2 tracker, Name Generator (is low on priority list), profile etc. pages.</p>
	<p><b>Updated:</b> Fixed moving dialogs so Sims and households can't be moved between game versions.</p>
	<p><b>TODO:</b> Expand family generators and tracker for other games. Finish view pages. Create proper user dashboard</p>
	<p><b>Bugs:</b> Forgot password link not working correctly.</p>
</div>

