<header>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
		<div class="container">
			<a class="navbar-brand title" style="font-size: xx-large" href="#">Sims Tracker</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<repeat group="{{ @menu }}" key="{{ @mkey }}" value="{{ @item }}">
						<li <check if="{{ @title == @item }}">
						<true>
							class="nav-item active"
						</true>
						<false>
							class="nav-item"
						</false>
					</check>
						>
						<a href="{{@BASE}}{{@mkey}}" <check if="{{ @title == @item }}">
						<true>
							class="nav-link active"
						</true>
						<false>
							class="nav-link"
						</false>
					</check>
						>{{@item}} <check if="{{ @title == @item }}"><span class="sr-only">(current)</span></check></a>
						</li>
					</repeat>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Generators</a>
						<div class="dropdown-menu">
							<repeat group="{{ @generators }}" key="@genkey" value="{{ @genitem }}">
								<a class="dropdown-item" href="{{@BASE}}{{ @genkey }}">{{ @genitem }}</a>
							</repeat>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav">
					<check if="{{ @SESSION.user }}">
						<true>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user">&nbsp;</i> My Account</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">Dashboard</a>
									<check if="{{ @SESSION.user[1] == 'Admin' }}">
										<div class="dropdown-divider"></div>
										<repeat group="{{ @admin }}" key="@adminkey" value="{{ @adminitem }}">
											<a class="dropdown-item" href="{{@BASE}}{{ @adminkey }}">{{ @adminitem }}</a>
										</repeat>
									</check>
								</div>
							</li>
							<li class="nav-item"><a class="nav-link" href="{{@BASE}}/user/logout"><i class="fa fa-sign-out">&nbsp;</i> Logout</a></li>
						</true>
						<false>
							<li class="nav-item"><a class="nav-link" href="#login" data-toggle="modal"><i class="fa fa-sign-in" aria-hidden="true">&nbsp;</i> Login</a></li>
							<li class="nav-item"><a class="nav-link" href="{{@BASE}}/user/register"><i class="fa fa-user-plus" aria-hidden="true">&nbsp;</i> Register</a></li>
						</false>
					</check>
				</ul>
			</div>
		</div>
	</nav>
	<check if="{{ @SESSION.user }}">
		<include href="usermenu.html"></include>
	</check>
</header>

