<div class="nav-scroller position-fixed bg-white shadow-sm w-100">
	<div class="container">
		<nav class="nav nav-underline">
			<repeat group="{{ @account }}" key="@acckey" value="{{ @accitem }}">
				<a href="{{@BASE}}{{ @acckey }}"
				<check if="{{ @title == @accitem }}">
					<true>
						class="nav-link active"
					</true>
					<false>
						class="nav-link"
					</false>
				</check>
				>{{ @accitem }} <check if="{{ @title == @accitem }}"><span class="sr-only">(current)</span></check></a>
			</repeat>
			<a href="{{@BASE}}/pets"
			<check if="{{ @title == 'Pets' }}">
				<true>
					class="nav-link active"
				</true>
				<false>
					class="nav-link"
				</false>
			</check>
			>Pets <check if="{{ @title == 'Pets' }}"><span class="sr-only">(current)</span></check></a>
		</nav>
	</div>
</div>

