<form action="{{ @BASE.'/hood/create' }}" autocomplete="off" validate="true" method="post" class="form-horizontal">

	<div class="form-group">
		<label for="gameVersion">Game version</label>
		<select class="custom-select" name="gameVersion" required="required" id="gameVersion">
			<option value=0>-- Sims version --</option>
			<repeat group="{{ @games }}" key="{{@gkey}}" value="{{ @game }}">
				<option value="{{ @gkey }}">{{ @game }}</option>
			</repeat>
		</select>
	</div>

<div class="form-row"> 
<div class="col">
	<div class="form-group" id="sims2" style="display:none">
		<label for="s2type">Type</label>
		<select class="custom-select type" required="required" name="s2type" id="s2type">
			<option selected>-- Hood type --</option>
			<repeat group="{{ @s2hoodTypes }}" value="{{ @s2value }}">
				<option value="{{ @s2value }}">{{ @s2value }}</option>
			</repeat>
		</select>
	</div>

	<div class="form-group" id="sims3" style="display:none">
		<label for="s3type">Type</label>
		<select class="custom-select type" name="s3type" id="s3type">
			<option selected>-- Hood type --</option>
			<repeat group="{{ @s3hoodTypes }}" value="{{ @s3value }}">
				<option value="{{ @s3value }}">{{ @s3value }}</option>
			</repeat>
		</select>
	</div>

	<div class="form-group" id="sims4" style="display:none">
		<label for="s4type">Type</label>
		<select class="custom-select type" name="s4type" id="s4type">
			<option selected>-- Hood type --</option>
			<repeat group="{{ @s4hoodTypes }}" value="{{ @s4value }}">
				<option value="{{ @s4value }}">{{ @s4value }}</option>
			</repeat>
		</select>
	</div>
	</div>
	
	<div class="col" id="parent" style="display:none">
		<div class="form-group">
		<label for="parentHood">Parent hood</label>
		<select class="custom-select" name="parentHood" id="parentHood">
			<option selected>-- None --</option>
			<repeat group="{{ @hoods }}" value="{{ @hood }}">
				<check if="{{ @hood.parentHood == NULL }}">
					<option value="{{ @hood.id }}">{{ @hood.name }}</option>
				</check>
			</repeat>
		</select>
	</div>
	</div>
</div>

<div class="form-row">
	<div class="col" id="premade" style="display:none">
		<div class="form-group">
		<label for="premade">Neighbourhood</label>
		<select class="custom-select" name="premade" required="required" id="premade">
			<option data-value="none" value="">-- Choose custom or a pre-made hood --</option>
			<option data-value="custom" value="custom">Custom</option>
		</select>
	</div>
	</div>
	<div class="col" id="custom" style="display:none">
		<div class="form-group">
		<label for="name">Custom hood</label>
		<input type="text" class="form-control" name="custom" id="custom" />
		<input type="hidden" id="hidden-field">
	</div>
	</div>
</div>

	<div class="control-group">
		<div class="">
		<input type="hidden" name="money" value="" />
			<input type="text" name="hptrap" class="hptrap" />
			<input type="hidden" name="create" value="create" />
			<input type="hidden" name="userID" value="{{@SESSION.user[2]}}" />
			<button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Neighbourhood</button>
			<a href="{{ @BASE.'/hoods' }}" class="btn btn-secondary"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
		</div>
	</div>
</form>

<script>
	$(function () {
		let v = $("#gameVersion").find('option:selected').val();
		let h = $(".type").find('option:selected').val();
		let p = $("#premade").find('option:selected').val();
		let premade;
	
		$("#gameVersion").change(function(){
			v = $(this).find('option:selected').val();
			gameChange(v);
		});

		$(".type").change(function(){
			h = $(this).find('option:selected').val();
			parentCheck(h);
			premades();
		});

		$("#premade").change(function(){
			p = $(this).find('option:selected').val();
			customCheck(p);
		});
	});
	function gameChange(v) {
		if (v == 2) {
			// If this is Sims 2, show Sims 2 options
			$("div#sims2").attr('aria-hidden', 'false').show();
			$('select#s2type').attr("name","type");
		} else  {
			// If this isn't Sims 2, hide Sims 2 options
			$("div#sims2").attr('aria-hidden', 'true').hide();
			$('select#s2type').attr("name","s2type");
			$("#s2type").val('');
		}
		if (v == 3) {
			// If this is Sims 3, show Sims 3 options
			$("div#sims3").attr('aria-hidden', 'false').show();
			$('select#s3type').attr("name","type");
		} else  {
			// If this isn't Sims 3, hide Sims 3 options
			$("div#sims3").attr('aria-hidden', 'true').hide();
			$('select#s3type').attr("name","s3type");
			$("#s3type").val('');
		}
		if (v == 4) {
			// If this is Sims 4, show Sims 4 options
			$("div#sims4").attr('aria-hidden', 'false').show();
			$('select#s4type').attr("name","type");
		} else  {
			// If this isn't Sims 4, hide Sims 4 options
			$("div#sims4").attr('aria-hidden', 'true').hide();
			$('select#s4type').attr("name","s4type");
			$("#s4type").val('');
		}
		if (v == 0) {
				$("#premade").attr('aria-hidden', 'true').hide();
				$("#premade").val('');
				$("#parent").attr('aria-hidden', 'true').hide();
				$("#parentHood").val('');
				$('select#premade').attr("name","name");
				$('input#custom').attr("name","custom");
				$("#custom").val("");
				$("#custom").attr('aria-hidden', 'true').hide();
		}
	}

	function parentCheck(h) {
		// Check if option cleared; if so, hide everything
			if (h == "") {
				$("#premade").attr('aria-hidden', 'true').hide();
				$("#premade").val('');
				$("#parent").attr('aria-hidden', 'true').hide();
				$("#parentHood").val('');
			} 
			else if (h == "Main hood") {
				$("#premade").attr('aria-hidden', 'false').show();
				$("#parent").attr('aria-hidden', 'true').hide();
				$("#parentHood").val('');
			} else {
				$("#parent").attr('aria-hidden', 'false').show();
				$("#premade").attr('aria-hidden', 'false').show();
			}
	}

	function customCheck(c) {
		if (c != "custom") {
				$('select#premade').attr("name","name");
				$('input#custom').attr("name","custom");
				$("#custom").val("");
				$("#custom").attr('aria-hidden', 'true').hide();
		} else {
			$("#custom").attr('aria-hidden', 'false').show();
			$('input#custom').attr("name","name");
			$('select#premade').attr("name","premade");						
		}
	}

	function premades() {
		v = $("#gameVersion").find('option:selected').val();
		premadesList(v);
		h = $(".type").find('option:selected').val();
			$.ajax({ 
				type: 'POST', 
				url: json, 
				data: { get_param: 'value' }, 
				dataType: 'json',
				success: function (data) {
					console.log(data.gameVersion);
					if (h == "Main hood") {
						premade = data.main;
					}
					if (h == "University") {
						premade = data.uni;
					}
					if (h == "Downtown") {
						premade = data.downtown;
					}
					if (h == "Shopping District") {
						premade = data.shopping;
					}
					if (h == "Vacation hood") {
						premade = data.vacation;
					}
					$('select#premade').empty();
					$('select#premade').append("<option value=''>-- Choose custom or a pre-made hood --</option>");
					$('select#premade').append("<option value='custom'>Custom</option>");
				for(i=0; i<premade.length; i++) {
					$('select#premade').append("<option value='"+ premade[i].name +"'>" + premade[i].name + "</option>");                      
					}
				},
				error: function (result) {
					console.log("File not found");
				}
			}); 
	}

</script>