<form action="{{ @BASE.'/hood/create' }}" autocomplete="off" validate="true" method="post" class="form-horizontal">

	<div class="form-group">
		<label for="name">Neighbourhood Name</label>
		<input type="text" class="form-control" required="required" name="name" id="name" />
		<input type="hidden" id="hidden-field">
	</div>

	<div class="form-group">
		<label for="gameVersion">Game version</label>
		<select class="custom-select" name="gameVersion" required="required" id="gameVersion">
			<option value="">-- Sims version --</option>
			<repeat group="{{ @games }}" key="{{@gkey}}" value="{{ @game }}">
				<option value="{{ @gkey }}">{{ @game }}</option>
			</repeat>
		</select>
	</div>

<div class="form-row">
<div class="col">
	<div class="form-group" id="sims2" style="display:none">
		<label for="s2type">Type</label>
		<select class="custom-select" required="required" name="s2type" id="s2type">
			<option value="">-- Hood type --</option>
			<repeat group="{{ @s2hoodTypes }}" key="{{ @s2key }}" value="{{ @s2value }}">
				<option value="{{ @s2value }}">{{ @s2value }}</option>
			</repeat>
		</select>
	</div>

	<div class="form-group" id="sims3" style="display:none">
		<label for="s3type">Type</label>
		<select class="custom-select" name="s3type" id="s3type">
			<option value="">-- Hood type --</option>
			<repeat group="{{ @s3hoodTypes }}" key="{{ @s3key }}" value="{{ @s3value }}">
				<option value="{{ @s3value }}">{{ @s3value }}</option>
			</repeat>
		</select>
	</div>

	<div class="form-group" id="sims4" style="display:none">
		<label for="s4type">Type</label>
		<select class="custom-select" name="s4type" id="s4type">
			<option value="">-- Hood type --</option>
			<repeat group="{{ @s4hoodTypes }}" key="{{ @s4key }}" value="{{ @s4value }}">
				<option value="{{ @s4value }}">{{ @s4value }}</option>
			</repeat>
		</select>
	</div>
	</div>
	<div class="col">
		<div class="form-group" id="parent" style="display:none">
		<label for="parentHood">Parent hood</label>
		<select class="custom-select" name="parentHood" id="parentHood">
			<option value="">-- None --</option>
			<repeat group="{{ @hoods }}" value="{{ @hood }}">
				<check if="{{ @hood.parentHood == NULL }}">
					<option value="{{ @hood.id }}">{{ @hood.name }}</option>
				</check>
			</repeat>
		</select>
	</div>
	</div>
</div>

	<div class="control-group">
		<div class="">
			<input type="text" name="hptrap" class="hptrap" />
			<input type="hidden" name="create" value="create" />
			<input type="hidden" name="userID" value="{{@SESSION.user[2]}}" />
			<button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Neighbourhood</button>
			<a href="{{ @BASE.'/hoods' }}" class="btn btn-secondary"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
		</div>
	</div>
</form>

<script>
	$(function () {
		let v = $("#gameVersion").children("option:selected").val();
		let h;
		gameChange(v);
	
		$("#gameVersion").change(function(){
			v = $("#gameVersion").children("option:selected").val();
			gameChange(v);
			parentCheck(h);
		});

		$("[name=type]").change(function(){
			h = $("[name=type]").children("option:selected").val();
			parentCheck(h);
		});
	});
	function gameChange(v) {
		if (v == 2) {
			$("div#sims2").show();
			$('select#s2type').attr("name","type");
			$("#s2type").val('{{@hood.type}}');
		} else  {
			$("div#sims2").hide();
			$('select#s2type').attr("name","s2type");
			$("#s2type").val('');
		}
		if (v == 3) {
			$("div#sims3").show();
			$('select#s3type').attr("name","type");
			$("#s3type").val('{{@hood.type}}');
		} else  {
			$("div#sims3").hide();
			$('select#s3type').attr("name","s3type");
			$("#s3type").val('');
		}
		if (v == 4) {
			$("div#sims4").show();
			$('select#s4type').attr("name","type");
			$("#s4type").val('{{@hood.type}}');
		} else  {
			$("div#sims4").hide();
			$('select#s4type').attr("name","s4type");
			$("#s4type").val('');
		}
	}

	function parentCheck(h) {
			if (h == 'Main hood' || h == '') {
				$("#parent").hide();
				$("#parentHood").val('');
			} 
			else {
				$("#parent").show();
			}			
	}
</script>