<check if="{{ @hoods }}">
	<true>
		<table width="100%" cellpadding="5" id="hoods" class="table table-hover table-bordered">
			<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Game version</th>
				<th scope="col">Type</th>
				<th scope="col">Number of households</th>
				<th scope="col">Action</th>
			</tr>
			</thead>

			<tbody>
			<repeat group="{{ @hoods }}" value="{{ @hood }}">
				<tr>
					<td>{{ trim(@hood.name) }}</td>
					<td>Sims {{ trim(@hood.gameVersion) }}</td>
					<td>{{ trim(@hood.type) }}</td>
					<check if="{{ @hood.households > 0 }}">
					<true>
						<td>{{ trim(@hood.households) }}</td>
					</true>
					<false>
					<td>0</td>
					</false>
					</check>
					<td><a href="{{ @BASE.'/hood/update/'. @hood.id }}" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
						<a href="{{ @BASE.'/hood/delete/'. @hood.id }}"
						   data-toggle="confirmation"
						   data-content="This will delete this hood and all associated data."
						   class="btn btn-danger delete"><i class="fa fa-trash" aria-hidden="true"></i>
							Delete</a></td>
				</tr>
			</repeat>
			</tbody>
		</table>
	</true>
	<false>
		<p>No neighbourhoods found.</p>
	</false>
</check>
<a href="{{ @BASE.'/hood/create' }}" class="btn btn-success mt-3"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>

<script>
$(document).ready( function () {
    $('#hoods').DataTable({
        responsive: {
        breakpoints: [
            { name: 'desktop', width: Infinity },
            { name: 'tablet',  width: 1024 },
            { name: 'fablet',  width: 768 },
            { name: 'phone',   width: 480 }
        ]
    }
	});
} );
</script>