<form action="{{ @BASE.'/hood/update' }}" validate="true" method="post" class="form-horizontal">

	<div class="form-group">
		<label for="name">Neighbourhood Name</label>
		<input type="text" class="form-control" required="required" value="{{ @hood.name }}" name="name" id="name" />
	</div>

	<div class="form-group">
		<label for="gameVersion">Game version</label>
		<select class="custom-select" required="required" name="gameVersion" id="gameVersion">
			<option value="">-- Sims version --</option>
			<repeat group="{{ @games }}" key="{{@gkey}}" value="{{ @value }}">
				<option value="{{ @gkey }}" <check if="{{ @hood.gameVersion == @gkey}}">
				selected
			</check>>{{ @value }}</option>
			</repeat>
		</select>
	</div>

<div class="form-row">
<div class="col">
	<div class="form-group" id="sims2" style="display:none">
		<label for="s2type">Type</label>
		<select class="custom-select" required="required" name="s2type" id="s2type">
			<option value="">-- Hood type --</option>
			<repeat group="{{ @s2hoodTypes }}" value="{{ @s2value }}"
			<check if="{{ @hood.type == @s2value}}">
				selected
			</check>>
				<option value="{{ @s2value }}">{{ @s2value }}</option>
			</repeat>
		</select>
	</div>

	<div class="form-group" id="sims3" style="display:none">
		<label for="s3type">Type</label>
		<select class="custom-select" name="s3type" id="s3type">
			<option value="">-- Hood type --</option>
			<repeat group="{{ @s3hoodTypes }}" value="{{ @s3value }}"
			<check if="{{ @hood.type == @s3value}}">
				selected
			</check>>
				<option value="{{ @s3value }}">{{ @s3value }}</option>
			</repeat>
		</select>
	</div>

	<div class="form-group" id="sims4" style="display:none">
		<label for="s4type">Type</label>
		<select class="custom-select" name="s4type" id="s4type">
			<option value="">-- Hood type --</option>
			<repeat group="{{ @s4hoodTypes }}" value="{{ @s4value }}"
			<check if="{{ @hood.type == @s4value}}">
			selected
		</check>>
				<option value="{{ @s4value }}">{{ @s4value }}</option>
			</repeat>
		</select>
	</div>
	</div>
	<div class="col">
		<div class="form-group" id="parent">
		<label for="parentHood">Parent hood</label>
		<select class="custom-select" name="parentHood" id="parentHood">
			<option value="">-- None --</option>
			<repeat group="{{ @parents }}" value="{{ @parent }}">
				<check if="{{ @parent.parentHood == NULL }}">
					<option value="{{ @parent.id }}"
					<check if="{{ @parent.id == @hood.parentHood}}">
					selected
				</check>
					>{{ @parent.name }}</option>
				</check>
			</repeat>
		</select>
	</div>
	</div>
</div>

	<div class="control-group">
		<div class="">
			<input type="text" name="hptrap" class="hptrap" />
			<input type="hidden" name="id" value="{{ @hood.id }}" />
			<input type="hidden" name="userID" value="{{@SESSION.user[2]}}" />
			<input type="hidden" name="update" value="update" />
			<button type="submit" name="save" class="btn btn-success"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
			<a href="{{ @BASE.'/household/create/'. @hood.id }}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add Household</a>
			<a href="{{ @BASE.'/hoods' }}" class="btn btn-secondary"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
		</div>
	</div>
</form>

<script>
	$(function () {
		let v = $("#gameVersion").children("option:selected").val();
		let h;
		gameChange(v);

		$("#gameVersion").change(function(){
			v = $("#gameVersion").children("option:selected").val();
			gameChange(v);
		});

		$("[name=type]").change(function(){
			h = $("[name=type]").children("option:selected").val();
			parentCheck(h);
		});
	});
	function gameChange(v) {
		if (v == 2) {
			$("div#sims2").show();
			$('select#s2type').attr("name","type");
			$("#s2type").val('{{@hood.type}}');
		} else  {
			$("div#sims2").hide();
			$('select#s2type').attr("name","s2type");
			$("#s2type").val('');
		}
		if (v == 3) {
			$("div#sims3").show();
			$('select#s3type').attr("name","type");
			$("#s3type").val('{{@hood.type}}');
		} else  {
			$("div#sims3").hide();
			$('select#s3type').attr("name","s3type");
			$("#s3type").val('');
		}
		if (v == 4) {
			$("div#sims4").show();
			$('select#s4type').attr("name","type");
			$("#s4type").val('{{@hood.type}}');
		} else  {
			$("div#sims4").hide();
			$('select#s4type').attr("name","s4type");
			$("#s4type").val('');
		}
		h = $("[name=type]").children("option:selected").val();
		parentCheck(h);
	}

		function parentCheck(h) {
			if (h == 'Main hood') {
				$('#parentHood').prop('disabled', true);
				$("#parentHood").val('');
			} 
			else {
				$('#parentHood').prop('disabled', false);
			}			
	}
</script>